DISCORD_TOKEN=COLOQUE_O_TOKEN_DO_BOT
CLIENT_ID=ID_DA_APLICACAO
GUILD_ID=ID_DO_SERVIDOR
CHANNEL_ID=ID_DO_CANAL_DE_STOCK
STOCK_API_URL=https://api.parse.bot/scraper/78cf8155-3819-45d0-b799-92f840a94827/get_stock
STOCK_API_KEY=COLOQUE_SUA_CHAVE_PARSE